<h1>Products#index</h1>
<%= form_tag '/products/add' do |f|%>
    <%= label_tag 'product'%>
    <%= text_field_tag 'product' %>
    <%= submit_tag 'add to cart'%>
<%end%>

<% session[:cart].each do |product| %>
<%= product%>
<%end%>

